config:
  clients:
    - url: http://loki-gateway.istio-system.svc.cluster.local/loki/api/v1/push
  snippets:
    extraRelabelConfigs: []
    pipelineStages:
      - cri: {}
      - match:
          selector: '{namespace="muffin-services"}'
          stages:
            - regex:
                expression: '\[(?P<trace_id>[a-f0-9]{16,32})-[a-f0-9]+\]'
            - labels:
                trace_id:
            - regex:
                expression: '(?P<logLevel>INFO|ERROR|WARN|DEBUG)'
            - labels:
                logLevel:

defaultVolumes:
  - name: run
    hostPath:
      path: /run/promtail
  - name: containers
    hostPath:
      path: /var/lib/docker/containers
  - name: pods
    hostPath:
      path: /var/log/pods

defaultVolumeMounts:
  - name: run
    mountPath: /run/promtail
  - name: containers
    mountPath: /var/lib/docker/containers
    readOnly: true
  - name: pods
    mountPath: /var/log/pods
    readOnly: true
